@import url('https://fonts.googleapis.com/css2?family=Roboto');

/* heading, đề mục, thanh tìm kiếm */
nav {
    background-color:#151212;
    color: white;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 200px;
    z-index: 1000;
    top: 0;
}
.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #aaaaaa;
    padding: 10px 20px;
}

.searchInput {
    border: none;
    background-color: transparent;
    overflow: hidden;
}

.searchInput::placeholder {
    color: white;
}
/*Hình ảnh sản phẩm*/
.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
    padding: 0;
    margin-right: 100px;
    cursor: pointer;
    color: lightgray;
    font-weight: 300;
    
}

.slider {
    background: url(img/img/ultra-highdefinition-4k-resolution-seamless-texture_1013369-1539.jpg);
    overflow: hidden;
    width: auto;
    height: auto;
    margin-top: 200px;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: transform 1s ease-in-out;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    /* Lớp phủ để làm mờ ảnh nền */
    z-index: 0;
}

.sliderImg {
    z-index: 1;
    width: auto;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.sliderImg.active {
    opacity: 1;
}

.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: black;
    z-index: 2;
}
.buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    background-color: black;
    z-index: 1;
    cursor: pointer;
}


.sliderItem:nth-child(1) .sliderBg {
    background-color: rgb(50, 47, 121);
}

.sliderItem:nth-child(2) .sliderBg {
    background-color: rgb(61, 85, 128);
}

.sliderItem:nth-child(3) .sliderBg {
    background-color: rgb(67, 94, 182);
}

.sliderItem:nth-child(4) .sliderBg {
    background-color: rgb(91, 139, 182);
}

.sliderItem:nth-child(5) .sliderBg {
    background-color: rgb(42, 27, 99);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.list-cart {
    padding: 20px;
    cursor: pointer;
    flex-direction: column;
}

.list-cart .item {
    display: flex;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    
}

h3{
    margin: 20px;
    padding: 20px;
    border: 3px solid #111;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    text-align: center;
    align-items: center;
}

.products{
    justify-content: space-between;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cột mỗi hàng */
    gap: 50px; /* Khoảng cách giữa các sản phẩm */
    padding: 40px; /* Padding cho khung chứa sản phẩm */
    box-sizing: border-box;
    list-style: none;
    overflow: hidden;
}

.products.products-item{
    display: inline-block;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-thumb{
    width: 95%; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    fill-opacity: calc(80%);
    height: 300px; 
    object-fit: cover; 
}

.buynow{
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446088;
    color: #fff;
    padding: 10px 0px;
    height: 20px;
    width: 305px;
    transition:all 1s ease-in-out; 
    cursor: pointer;
}
.products li :hover .buynow{
    background-color: #f60808;
}

.products-name{
    color: #334862;    
    padding: 3px 0px;
    text-decoration: none;
    top: auto;
}

.products-price{
    color: #111;
    padding: 2px 0px;
    font-weight: 600;
}

/*FEATURE*/
h4{
    display: center;
    text-align: center;
    justify-content: center;
    font-size: 40px;
}
.features{
    display: flex;
    text-align: center;
    justify-content: center;
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.featureImg{
    width: 100px;
    height: 100px;
}
.payment{
    width: 400px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    margin: auto;
    display: none;
    position: absolute;
    padding: 50px 100px;
    flex-direction: column;
    box-shadow: 2px -5px 17px 4px rgba(0,0,0,0.33);
    -webkit-box-shadow: 2px -5px 17px 4px rgba(0,0,0,0.33);
    -moz-box-shadow: 2px -5px 17px 4px rgba(0,0,0,0.33);
}

.payInput{
    padding: 10px;
    margin: 12px -12px;
    border: none;
    border-radius: 1px solid gray ;
}

.cardIcons{
    display: block;
}

.card-icon{
    margin-right: 10px;
}

.card-info{
    display: flex;
    justify-content: space-between;
}
.payInput2{
    width: auto;
  
} 
.payButton{
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    background-color: greenyellow;
    color: seashell;
    border: none;
}
.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #111;
    color: #f8f9fa;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}
h6{
    font-size: 30px;
    display: center;
    text-align: center;
    justify-content: center;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
}
.gallery{
    display: flex;
}
.galleryItem{
    display: 1;
}

.galleryImg{
    width: 480px;
    height: 480px;
    object-fit: cover;
    margin-right: 10px;
}

.galleryTitle{
    text-align: center;
    font-size: 15px;
}

footer {
    display: flex;
  }
  
  .footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  .fMenuTitle {
    font-size: 16px;
  }
  
  .fList {
    padding: 0;
    list-style: none;
  }
  
  .fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
  }
  
  .footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fInput {
    padding: 5px;
  }
  
  .fButton {
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  .fIcons{
    display: flex;
  }
  
  .fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .copyright{
    font-weight: 300;
    font-size: 14px;
  }
  
  @media screen and (max-width:480px) {
    nav{
      padding: 20px;
    }
  
    .search{
      display: none;
    }
  
    .navBottom{
      flex-wrap: wrap;
    }
  
    .menuItem{
      margin: 20px;
      font-weight: 700;
      font-size: 20px;
    }
  
    .slider{
      clip-path: none;
    }
  
    .sliderImg{
      width: 90%;
    }
  
    .sliderBg{
      width: 100%;
      height: 100%;
    }
  
    .sliderTitle{
      display: none;
    }
  
    .sliderPrice{
      top: unset;
      bottom: -50;
      left: 0;
      background-color: lightgrey;
    }
  
    .buyButton{
      right: 0;
      top: 0;
    }
  
    .features{
      flex-direction: column;
    }
  
    .product{
      clip-path: none ;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .productImg{
      width: 80%;
    }
  
    .productDetails{
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      top: 0;
    }
  
    .productTitle{
      font-size: 50px;
      margin: 0;
    }
  
    .gallery{
      display: none;
    }
  
    .newSeason{
      flex-direction: column;
    }
  
    .nsItem:nth-child(2){
      padding: 50px;
    }
  
    footer{
      flex-direction: column;
      align-items: center;
    }
  
    .footerLeft{
      padding: 20px;
      width: 90%;
    }
  }
 
  @media screen and (max-width:500px) {
    nav{
      padding: 20px;
    }
  
    .search{
      display: none;
    }
  
    .navBottom{
      flex-wrap: wrap;
    }
  
    .menuItem{
      margin: 20px;
      font-weight: 700;
      font-size: 20px;
    }
  
    .slider{
      clip-path: none;
    }
  
    .sliderImg{
      width: 90%;
    }
  
    .sliderBg{
      width: 100%;
      height: 100%;
    }
  
    .sliderTitle{
      display: none;
    }
  
    .buyButton{
      right: 0;
      top: 0;
    }
  
    .features{
      flex-direction: column;
    }
  
    .products{
      clip-path: none ;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .products-thumb{
      width: 80%;
    }
  
    .products-info{
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      top: 0;
    }}